In [1]:
import pandas as pd
import numpy as np

#import data and drop index
test = pd.read_csv('AssignmentProblem10by10.csv')
del test['Unnamed: 0']
test.head(10)

    A   B   C   D   E   F   G   H   I   J
0  53  82  50  97  44  58  54  19  88  59
1  30  16  45  27  56  28  23  11  10  89
2  30  16  45  27  56  28  23  11  10  89
3  64  35  39  48  43  94  48  96  40  94
4  36  74  11  88   3  75  85  84  23  22
5  35  71  59  71  63  79  87  10  58  89
6  87  71  59  86   7  86  15  95  48  18
7  42   4  62  84  40  48  84  84  75  60
8  24  95  68  41  46  68  97  33  43  97
9  49  69  41  69  33  45  87  36  93  96

In [5]:
#transfer data from to array
testarray = test.T.values
np.array(testarray)

array([[53, 30, 30, 64, 36, 35, 87, 42, 24, 49],
       [82, 16, 16, 35, 74, 71, 71,  4, 95, 69],
       [50, 45, 45, 39, 11, 59, 59, 62, 68, 41],
       [97, 27, 27, 48, 88, 71, 86, 84, 41, 69],
       [44, 56, 56, 43,  3, 63,  7, 40, 46, 33],
       [58, 28, 28, 94, 75, 79, 86, 48, 68, 45],
       [54, 23, 23, 48, 85, 87, 15, 84, 97, 87],
       [19, 11, 11, 96, 84, 10, 95, 84, 33, 36],
       [88, 10, 10, 40, 23, 58, 48, 75, 43, 93],
       [59, 89, 89, 94, 22, 89, 18, 60, 97, 96]])

In [81]:
testarray[0,3]

In [157]:
def extract(ID):
        single = []
        single = testarray[ID,0:10]
        return single
    

task = [0,1,2,3,4,5,6,7,8,9] #all available index list
solution = []

for i in range(0,10): #go througt 10 employees
        single = extract(i).tolist()
        candidate = []
        for j in task:
            candidate.append(single[j]) #pick available options
        print ('Available Index:', task)
        candidate = np.asarray(candidate)
        best = candidate.min() #get the min cost from available options
        single = candidate.tolist() 
        task.pop(single.index(best)) #since we only can't reuse an index, del it from available index list
        solution.append(best) 
 
        

        

print('The best cost solution: ', solution)

Available Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Available Index: [0, 1, 2, 3, 4, 5, 6, 7, 9]
Available Index: [0, 1, 2, 3, 4, 5, 6, 9]
Available Index: [0, 1, 2, 3, 5, 6, 9]
Available Index: [0, 2, 3, 5, 6, 9]
Available Index: [0, 2, 3, 5, 9]
Available Index: [0, 3, 5, 9]
Available Index: [0, 5, 9]
Available Index: [0, 9]
Available Index: [9]
The best cost solution:  [24, 4, 11, 27, 7, 28, 48, 10, 88, 96]

In [141]:
k = 10
R = 0
for i in range(0,10):
    R += k
    k -= 1
print(R)

55

24